<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CashCardForm</servlet-name>
        <servlet-class>Redirect.CashCardForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EKYCFormController</servlet-name>
        <servlet-class>controller.EKYCFormController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCity</servlet-name>
        <servlet-class>controller.SearchCity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionChecker</servlet-name>
        <servlet-class>connections.SessionChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BDAForm</servlet-name>
        <servlet-class>Redirect.BDAForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RSAForm</servlet-name>
        <servlet-class>Redirect.RSAForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EKYCFormFiles</servlet-name>
        <servlet-class>controller.EKYCFormFiles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCaptcha</servlet-name>
        <servlet-class>GetCaptcha</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Confirmation</servlet-name>
        <servlet-class>controller.Confirmation</servlet-class>
    </servlet>
    
    
    <servlet>
        <servlet-name>jumioAccount</servlet-name>
        <servlet-class>controller.jumioAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>jumioAccount_initialize</servlet-name>
        <servlet-class>controller.jumioAccount_initialize</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>CashCardForm</servlet-name>
        <url-pattern>/CashCardForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EKYCFormController</servlet-name>
        <url-pattern>/EKYCFormController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCity</servlet-name>
        <url-pattern>/SearchCity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionChecker</servlet-name>
        <url-pattern>/SessionChecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BDAForm</servlet-name>
        <url-pattern>/BDAForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RSAForm</servlet-name>
        <url-pattern>/RSAForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EKYCFormFiles</servlet-name>
        <url-pattern>/EKYCFormFiles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCaptcha</servlet-name>
        <url-pattern>/GetCaptcha</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Confirmation</servlet-name>
        <url-pattern>/Confirmation</url-pattern>
    </servlet-mapping>
    
        <servlet-mapping>
        <servlet-name>jumioAccount_initialize</servlet-name>
        <url-pattern>/jumioAccount_initialize</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>jumioAccount</servlet-name>
        <url-pattern>/jumioAccount</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
